<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Angular.js Chord Transposer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
    <script src="angular.chordtransposer.js"></script>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        .c {
            font-weight:600;
            color: #0000cc;
        }

        textarea {
            display:block;
        }

        .section-title {
            font-weight:600;
            font:monospace;
        }

        .editor, .preview {
            float: left;
            width:50%;
        }
    </style>
    <script>
    var demoApp = angular.module('chordTransposerDemoApp', ['chordTransposer']);
    demoApp.controller('TransposerCtrl', ['$scope',
        function($scope) {
            $scope.song = {
                "artist": "The Beatles",
                "key": "C",
                "sections": [{
                    "title": "Verse 1",
                    "body": "C              G                 Am          F\nWhen I find myself in times of trouble, Mother Mary comes to me\nC                 G              F   C/E   Dm   C\nSpeaking words of wisdom, let it be"
                }, {
                    "title": "Verse 2",
                    "body": "    C             G                Am                F\nAnd in my hour of darkness, She is standing right in front of me\nC                 G              F   C/E   Dm   C\nSpeaking words of wisdom, let it be"
                }, {
                    "title": "Chorus",
                    "body": "       Am         G          F          C\nLet it be, let it be, let it be, let it be\n                 G              F   C/E   Dm   C\nWhisper words of wisdom, let it be"
                }],
                "title": "Let It Be",
            };

            $scope.keys = [{
                name: 'Ab',
                value: 0,
                type: 'F'
            }, {
                name: 'A',
                value: 1,
                type: 'N'
            }, {
                name: 'A#',
                value: 2,
                type: 'S'
            }, {
                name: 'Bb',
                value: 2,
                type: 'F'
            }, {
                name: 'B',
                value: 3,
                type: 'N'
            }, {
                name: 'C',
                value: 4,
                type: 'N'
            }, {
                name: 'C#',
                value: 5,
                type: 'S'
            }, {
                name: 'Db',
                value: 5,
                type: 'F'
            }, {
                name: 'D',
                value: 6,
                type: 'N'
            }, {
                name: 'D#',
                value: 7,
                type: 'S'
            }, {
                name: 'Eb',
                value: 7,
                type: 'F'
            }, {
                name: 'E',
                value: 8,
                type: 'N'
            }, {
                name: 'F',
                value: 9,
                type: 'N'
            }, {
                name: 'F#',
                value: 10,
                type: 'S'
            }, {
                name: 'Gb',
                value: 10,
                type: 'F'
            }, {
                name: 'G',
                value: 11,
                type: 'N'
            }, {
                name: 'G#',
                value: 0,
                type: 'S'
            }];
        }
    ]);
    </script>
</head>

<body ng-app="chordTransposerDemoApp" ng-controller="TransposerCtrl">
    <div class="editor">
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" ng-model="song.title">
        </div>
        <div>
            <label for="">Artist</label>
            <input type="text" ng-model="song.artist">
        </div>
        <div class="form-group">
            <label for="">Song Key</label>
            <select ng-model="song.key" ng-options="key.name as key.name for key in keys"></select>
        </div>
        <div class="form-group" ng-repeat="songSection in song.sections track by $index">
            <input type="text" ng-model="songSection.title">
            <textarea name="" id="" cols="70" rows="10" ng-model="songSection.body" ng-trim="false"></textarea>
        </div>
    </div>
    <div class="preview">
        <h3>{{song.title}}</h3>
        <h4>{{song.artist}}</h4>
        <div ng-repeat="songSection in song.sections track by $index">
            <h5>{{songSection.title}}</h5>
            <transpose-area ng-model="songSection.body" key="{{song.key}}">
            </transpose-area>  
        </div>
    </div>
</body>
</html>